{% include custom/sidebarconfigs.html %}

<aside class="unity-sidebar" id="mysidebar">
    <nav class="unity-tabs vertical small">
        <h3>Docs Hub</h3>
        <div class="unity-tab-row">
            <a class="unity-tab" href="web_services.html" role="tab">Scoring Submission Guide</a>
        </div>
        <div class="unity-tab-row">
            <a class="unity-tab" href="batch_request.html" role="tab">Batch Submission Guide</a>
        </div>
        <div class="unity-tab-row">
            <a class="unity-tab" href="test_plans.html" role="tab">Insurity Predict Test Plan</a>
        </div>
        <div class="unity-tab-row">
            <a class="unity-tab" href="customer_specific_apis.html" role="tab">OpenAPI 3 Definitions for Customer Specific API: For existing customers using xml based interfaces</a>
        </div>
        <div class="unity-tab-row">
            <a class="unity-tab" href="customer_specific_apis_json.html" role="tab">OpenAPI 3 Definitions for Customer Specific API: For new customers using json based interfaces</a>
        </div>
    </nav>
</aside>
<!-- <ul id="mysidebar" class="nav">
    <li class="unity-sidebar">{{sidebar[0].product}}</li>
    {% for entry in sidebar %}
    {% for folder in entry.folders %}
    {% if folder.output contains "web" %}
    <li>
        <a href="#">{{ folder.title }}</a>
        <ul>
            {% for folderitem in folder.folderitems %}
            {% if folderitem.output contains "web" %}
            {% if folderitem.external_url %}
            <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
            {% elsif page.url == folderitem.url %}
            <li class="active"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% else %}
            <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% endif %}
            {% for subfolders in folderitem.subfolders %}
            {% if subfolders.output contains "web" %}
            <li class="subfolders">
                <a href="#">{{ subfolders.title }}</a>
                <ul>
                    {% for subfolderitem in subfolders.subfolderitems %}
                    {% if subfolderitem.output contains "web" %}
                    {% if subfolderitem.external_url %}
                    <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                    {% elsif page.url == subfolderitem.url %}
                    <li class="active"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% else %}
                    <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %} -->
        <!-- if you aren't using the accordion, uncomment this block:
           <p class="external">
               <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
           </p>
           -->
        <!--    </li>
</ul> -->
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
