<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" unity-dark>
  <div class="container topnavlinks">
    <div class="navbar-header">
      <svg class="unity-icon">
        <defs>
          <linearGradient id="insurity-i-gradient" x1="0" x2="0" y1="0" y2="1">
            <stop class="stop1" offset="0%" />
            <stop class="stop2" offset="100%" />
          </linearGradient>
        </defs>
        <g class="i">
          <path class="stem" d="M9.487 8.46h5.043v15.54h-5.043v-15.54z"></path>
          <path class="circle"
            d="M12.010 4.816c-0.897 0-1.626-0.73-1.626-1.626s0.729-1.626 1.626-1.626 1.626 0.73 1.626 1.626c0 0.897-0.729 1.626-1.626 1.626zM12.010 0c-1.762 0-3.19 1.428-3.19 3.19s1.428 3.19 3.19 3.19 3.19-1.428 3.19-3.19c0-1.761-1.428-3.19-3.19-3.19z">
          </path>
        </g>
      </svg>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand projectTitle" href="index.html">{{site.topnav_title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- entries without drop-downs appear here -->
        {% for entry in site.data.topnav.topnav %}
        {% for item in entry.items %}
        {% if item.external_url %}
        <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
        {% elsif page.url contains item.url %}
        <li class="active"><a href="{{item.url | remove: " /"}}">{{item.title}}</a></li>
        {% else %}
        <li><a href="{{item.url | remove: " /"}}">{{item.title}}</a></li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <!-- entries with drop-downs appear here -->
        <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
        <!--   {% for entry in site.data.topnav.topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %} -->
        {% if site.feedback_disable == null or site.feedback_disable == false %}
        {% include feedback.html %}
        {% endif %}
      </ul>
    </div>
  </div>
  <!-- /.container -->
</nav>